@import url('https://fonts.cdnfonts.com/css/helvetica-neue-5');
@import "tailwindcss";
@layer tailwind-base, primevue, tailwind-utilities;

@theme {
  --font-sans: "Helvetica Neue", "Arial", sans-serif;
}

html, body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}